<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload to {{ code }}</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1>Gallery Code: {{ code }}</h1>
  <form action="/upload?code={{ code }}" method="POST" enctype="multipart/form-data">
    <label>Select a photo:</label><br>
    <input type="file" name="file" required><br><br>
    <button type="submit">Upload</button>
  </form>
  <p><a href="/gallery">View All Galleries</a></p>
  <p><a href="/">Back to Home</a></p>
</body>
</html>
